.about {
  display: flex;
  width: 100%;
  padding: 5% 10%;
  justify-content: space-between;
}

.aboutImageDiv {
  width: 40%;
  background-color: var(--pink);
}

.aboutImage {
  width: 100%;
  top: 20px;
  left: -20px;
  position: relative;
}

.aboutImageDiv img {
  transition: transform 0.3s ease;
  transform: translateX(0px);
}

.aboutImageDiv:hover img {
  transform: translateX(4px);
}

.textAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
