.navbar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 9;
  display: flex;
  padding: 0.7% 10%;
  justify-content: space-between;
  align-items: center;
}

.colorNavbar {
  background-color: #c4267c;
}
.transparentNavbar {
  background: transparent;
}

.links {
  color: #f2f2f2;
}

.logo {
  width: 3%;
}
